In [ ]:
#return statemet
def arithmatic(a,b):
  c = a+b
  d = a-b
  e = a*b
  #print(c,d,e)
  return c,d,e  #multiple values getting return

result= arithmatic(2,3)   #function is returning multiple values
print(result)

(5, -1, 6)

#Function without name is called anaonymous function
#we use lambda keyword to define this function.

In [ ]:
def square(n): #this is normal function.
    return n*n

print(square(20))

400

In [ ]:
def square(n):
  return n*n
print(square(10))

100

In [ ]:
def square(n): #this is normal function.
    return n*n

print(square(20))

400

In [ ]:
#Lets write above function using lambda
#With lambda function
#syntax
#variable = lambda variablelist: expression
#point to remmber: We can have multiple variables but can only have one experession

In [ ]:
result =lambda n:n*n
print(result(20))

400

In [ ]:
result=lambda n:n*n
print(result(100))

10000

In [ ]:
result =lambda a,b:a+b
print(result(20,30))

50

In [ ]:
result =lambda n:n**n
print(result(2))

4

In [ ]:
res =lambda a,b,c:a+b+c
print(res(10,20,30))

60

In [ ]:
#filter()
#It is used to filter the data.
# we can use it with lambda
#Syntax
#filter(function,sequence)
#We need to convert filter object in to list or tuple.

In [6]:
def amit(x):
    if x%2!=0:
        return True
    else:
        return False

l=[1,2,3,4,5]

odd = filter(amit,l)

print(list(odd))

[1, 3, 5]

In [7]:
l2=list(filter(lambda x:x%2!=0,range(1,11)))
print(l2)
#first it will pick first element from list and send it to x, then x will go to expression x%2!=0 it evaulates it, if condition is ok then it takes that elemet.

[1, 3, 5, 7, 9]

In [10]:
l1=list(filter(lambda x:x%2!=0,range(1,176)))
print(l1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175]

In [13]:
l3=list(filter(lambda x:x%2!=0,range(4,55)))
print(l3)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53]

#map: #For every element we perform some operation and we generate new elements.

In [14]:
l=[1,2,3,4]
def doublenum(x):
    return x*2

In [15]:
result = map(doublenum,l)
print(list(result))

[2, 4, 6, 8]

In [16]:
#syntax of filter and map is same
#map(function_name,sequence)
result = map(amit,l)
print(list(result))

[True, False, True, False]

#reduce()
#Reduce function reduces the sequence of elements into single element.
#Syntax:
#reduce(function,sequence)
#This reduce function is present in functools module.

In [17]:
from functools import reduce

l=[1,2,3,4,6,10,1,3,4]
result=reduce(lambda x,y:x+y,l)
print(result)

34

In [23]:
from functools import reduce
l=[1,2,3,4,5,6,7,8,9]
result=reduce(lambda x,y:x+y,l)
print(result)

45

zip()

In [20]:
a=[1,2,3,4,5]
b=['a','b','c','d','e']
result=zip(a,b)
print(list(result))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [22]:
a=[6,7,8,9,0]
b=['amol','kiran','raj','siv','sid']
result=zip(a,b)
print(dict(result))

{6: 'amol', 7: 'kiran', 8: 'raj', 9: 'siv', 0: 'sid'}