list

In [ ]:
#1.	Write a program to calculate the sum of all elements in a list.

In [ ]:
numbers = [10, 20, 30, 40, 50]

total = 0

for num in numbers:
    total = total + num

print("Sum of all elements:", total)

Sum of all elements: 150

In [ ]:
#2.	Write a program to remove duplicate elements from a list.

In [ ]:
numbers=[1,2,3,3,4,4,5]
unique_num=list(set(numbers))
print(unique_num)

[1, 2, 3, 4, 5]

In [ ]:
#3.Write a program to find the largest and smallest element in a list.

In [ ]:
numbers = [10, 25, 5, 40, 15]

largest = max(numbers)
smallest = min(numbers)

print("Largest element:", largest)
print("Smallest element:", smallest)

Largest element: 40
Smallest element: 5

In [ ]:
#4.Write a program to reverse a list without using built-in functions.

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
numbers

[50, 40, 30, 20, 10]

In [ ]:
#5.Write a program to count even and odd numbers in a list.

In [ ]:
numbers = [10, 21, 4, 45, 66, 9,3]

even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Even numbers count:", even_count)
print("Odd numbers count:", odd_count)

Even numbers count: 3
Odd numbers count: 4

2.	Tuple

In [ ]:
#1.Write a program to find the length of a tuple.

In [ ]:
tuple=(10,20,30,40,50)
result=len(tuple)
result

5

In [ ]:
#2.Write a program to find the maximum element in a tuple.

In [ ]:
tuple=(10,20,30,40,50,111)
result=max(tuple)
result

111

In [ ]:
#3.Convert a tuple into a list and add a new element.

In [ ]:
tuple = (10, 20, 30, 40)
res=list(tuple)
res.append(50)
res

[10, 20, 30, 40, 50]

In [ ]:
#4.Write a program to check whether an element exists in a tuple.

In [ ]:
my_tuple = (10, 20, 30, 40, 50)

element = 30

if element in my_tuple:
    print("Element exists in the tuple.")
else:
    print("Element does not exist in the tuple.")

Element exists in the tuple.

In [ ]:
#5.	Write a program to count occurrences of an element in a tuple.

In [ ]:
my_tuple = (10, 20, 30, 20, 40, 20)

element = 20

count = my_tuple.count(element)

print("Occurrences of element:", count)

Occurrences of element: 3

In [ ]:
3.	Dictionary

In [ ]:
#1.Write a program to iterate through keys and values of a dictionary.

In [ ]:
my_dict = {
    "name": "Sairaj",
    "age": 21,
    "course": "Data Science"
}

for key in my_dict:
    print("Key:", key, "Value:", my_dict[key])

Key: name Value: Sairaj
Key: age Value: 21
Key: course Value: Data Science

In [ ]:
#2.Write a program to create a dictionary of numbers and their squares.

In [ ]:
n = int(input("Enter a number: "))

square_dict = {i: i*i for i in range(1, n+1)}

print(square_dict)

Enter a number: 11
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [ ]:
n = int(input("Enter a number: "))

square_dict = {}

for i in range(1, n+1):
    square_dict[i] = i * i

print("Dictionary of numbers and their squares:")
print(square_dict)

Enter a number: 11
Dictionary of numbers and their squares:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [ ]:
#3.Write a program to merge two dictionaries.

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)

print( dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#4.Write a program to find the key with the highest value.

In [ ]:
my_dict = {
    "a": 10,
    "b": 25,
    "c": 15,
    "d": 40
}

max_key = max(my_dict, key=my_dict.get)

print("Key with highest value:", max_key)
print("Highest value:", my_dict[max_key])

Key with highest value: d
Highest value: 40

In [ ]:
#5.Write a program to count character frequency in a string using a dictionary.

In [ ]:
string = "programming"

freq = {}

for char in string:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print("Character Frequency:")
print(freq)

Character Frequency:
{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [ ]:
4.	Set

In [ ]:
#1.Write a program to remove duplicates from a list using a set.

In [1]:
numbers = [10, 20, 30, 20, 40, 10, 50]

# Convert list to set (removes duplicates)
unique_numbers = list(set(numbers))

# Print result
print("Original List:", numbers)
print("List after removing duplicates:", unique_numbers)

Original List: [10, 20, 30, 20, 40, 10, 50]
List after removing duplicates: [40, 10, 50, 20, 30]

In [ ]:
#2.	Write a program to find union and intersection of two sets.

In [51]:
set1 = set(map(int, input().split()))
set2 = set(map(int, input().split()))

union_set = set1 | set2
intersection_set = set1 & set2

print(union_set)
print(intersection_set)

121
1233
{121, 1233}
set()

In [ ]:
#3.Write a program to check if one set is a subset of another.

In [2]:

set1 = set(map(int, input("Enter elements of Set 1 separated by space: ").split()))
set2 = set(map(int, input("Enter elements of Set 2 separated by space: ").split()))

if set1.issubset(set2):
    print("Set 1 is a subset of Set 2")
else:
    print("Set 1 is NOT a subset of Set 2")

Enter elements of Set 1 separated by space: 12
Enter elements of Set 2 separated by space: 12
Set 1 is a subset of Set 2

In [ ]:
#4.Write a program to find common elements between two lists using sets.

In [3]:
list1 = list(map(int, input().split()))
list2 = list(map(int, input().split()))

common_elements = list(set(list1) & set(list2))

print(common_elements)

2
7
[]

In [4]:
string = input()

vowels = {'a', 'e', 'i', 'o', 'u'}

unique_vowels = set()

for ch in string.lower():
    if ch in vowels:
        unique_vowels.add(ch)

print(unique_vowels)

23
set()

In [ ]:
5.	Functions

In [ ]:
#1.	Write a function to check whether a number is prime.

In [5]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

num = int(input())
if is_prime(num):
    print("Prime")
else:
    print("Not Prime")

11
Prime

In [ ]:
#2.Write a function to calculate factorial of a number.

In [6]:
def factorial(n):
    if n < 0:
        return "Not defined"
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

num = int(input())
print(factorial(num))

4
24

In [ ]:
#3.Write a function to find the maximum of three numbers.

In [7]:
def find_max(a, b, c):
    return max(a, b, c)

x = int(input())
y = int(input())
z = int(input())

print(find_max(x, y, z))

4546
56678
345
56678

In [ ]:
#4.	Write a function that returns the sum of elements of a list.

In [8]:
def list_sum(lst):
    return sum(lst)

numbers = list(map(int, input().split()))
print(list_sum(numbers))

22
22

In [ ]:
#5.	Write a function to check whether a string is a palindrome.

In [9]:
def is_palindrome(s):
    return s == s[::-1]

text = input()
if is_palindrome(text):
    print("Palindrome")
else:
    print("Not Palindrome")

121
Palindrome

In [ ]:
6.	Exception Handling

In [ ]:
#1.	Write a program to handle division by zero error.

In [10]:
try:
    a = int(input())
    b = int(input())
    result = a / b
    print(result)
except ZeroDivisionError:
    print("Cannot divide by zero")

121
121
1.0

In [ ]:
#2.	Write a program to handle invalid user input.

In [12]:
# 2. Handle invalid user input
try:
    num = int(input())
    print(num)
except ValueError:
    print("Invalid input")

der
Invalid input

In [ ]:
#3.	Write a program using multiple except blocks.

In [13]:
# 3. Multiple except blocks
try:
    x = int(input())
    y = int(input())
    print(x / y)
except ValueError:
    print("Invalid input")
except ZeroDivisionError:
    print("Cannot divide by zero")

sd2
Invalid input

In [ ]:
#4.	Write a program using try-except-else.

In [14]:
# 4. try-except-else
try:
    a = int(input())
    b = int(input())
    result = a / b
except ZeroDivisionError:
    print("Cannot divide by zero")
except ValueError:
    print("Invalid input")
else:
    print(result)

333
22
15.136363636363637

In [ ]:
#5.	Create a custom exception to validate age greater than 18.

In [15]:
# 5. Custom exception for age > 18
class AgeError(Exception):
    pass

try:
    age = int(input())
    if age <= 18:
        raise AgeError("Age must be greater than 18")
    print("Valid age")
except AgeError as e:
    print(e)
except ValueError:
    print("Invalid input")

21
Valid age

In [ ]:
7.	File Handling

In [ ]:
#1.	Write a program to write data into a file.

In [16]:
# 1. Write data into a file
with open("file1.txt", "w") as f:
    f.write("Hello World\n")
    f.write("Python File Handling\n")

In [ ]:
#2.	Write a program to read data from a file.

In [17]:
# 2. Read data from a file
with open("file1.txt", "r") as f:
    data = f.read()
    print(data)

Hello World
Python File Handling

In [ ]:
#3.	Write a program to count number of lines in a file.

In [18]:
# 3. Count number of lines in a file
with open("file1.txt", "r") as f:
    count = len(f.readlines())
    print("Number of lines:", count)

Number of lines: 2

In [ ]:
#4.	Write a program to append data to an existing file.

In [19]:
# 4. Append data to an existing file
with open("file1.txt", "a") as f:
    f.write("Appending new line\n")

In [ ]:
#5.	Write a program to copy content from one file to another.

In [20]:
# 5. Copy content from one file to another
with open("file1.txt", "r") as source:
    content = source.read()

with open("file2.txt", "w") as target:
    target.write(content)

In [ ]:
8.	Anonymous Function (Lambda)

In [ ]:
#1.	Write a lambda function to add two numbers.

In [23]:
# 1. Lambda to add two numbers
result=lambda a,b:a+b
result(10,20)

30

In [ ]:
#2.	Write a lambda function to find square of a number.

In [29]:
result=lambda x:x*x
print(result(3))

9

In [ ]:
#3.	Write a lambda function to check whether a number is even.

In [30]:
result=lambda x:x%2==0
print(result(3))

False

In [ ]:
#4.	Write a lambda function to find maximum of two numbers.

In [31]:
# 4. Lambda to find maximum of two numbers
maximum = lambda a, b: a if a > b else b
print(maximum(10, 20))

20

In [ ]:
#5.	Write a lambda function to calculate cube of a number.

In [32]:
# 5. Lambda to calculate cube of a number
cube = lambda x: x ** 3
print(cube(3))

27

In [ ]:
9.	map()

In [ ]:
#1.	Use map to square all elements of a list.

In [33]:
# 1. Use map to square all elements of a list
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16, 25]

In [ ]:
#2.	Use map to convert a list of strings into integers.

In [34]:
# 2. Use map to convert a list of strings into integers
str_list = ["1", "2", "3", "4"]
int_list = list(map(int, str_list))
print(int_list)

[1, 2, 3, 4]

In [ ]:
#3.	Use map to add 10 to every element in a list.

In [35]:
# 3. Use map to add 10 to every element in a list
numbers = [5, 10, 15]
added = list(map(lambda x: x + 10, numbers))
print(added)

[15, 20, 25]

In [ ]:
#4.	Use map with a function to convert Celsius to Fahrenheit.

In [36]:
def c_to_f(c):
    return (c * 9/5) + 32

celsius = [0, 10, 20, 30]
fahrenheit = list(map(c_to_f, celsius))
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0]

In [ ]:
#5.	Use map to find lengths of strings in a list.

In [37]:
# 5. Use map to find lengths of strings in a list
words = ["apple", "banana", "cherry"]
lengths = list(map(len, words))
print(lengths)

[5, 6, 6]

In [ ]:
10.	reduce()

In [ ]:
#1.	Use reduce to find sum of elements in a list.

In [43]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
sum_result = reduce(lambda x, y: x + y, numbers)
print(sum_result)

15

In [ ]:
#2.	Use reduce to find product of elements in a list.

In [42]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
product_result = reduce(lambda x, y: x * y, numbers)
print(product_result)

120

In [ ]:
#3.	Use reduce to find maximum element in a list.

In [41]:
from functools import reduce

numbers = [10, 25, 5, 40, 15]
max_result = reduce(lambda x, y: x if x > y else y, numbers)
print(max_result)

40

In [ ]:
#4.	Use reduce to concatenate strings in a list.

In [44]:
from functools import reduce

words = ["Hello", " ", "World", "!"]
concat_result = reduce(lambda x, y: x + y, words)
print(concat_result)

Hello World!

In [ ]:
#5.	Use reduce to calculate factorial of a number.

In [45]:
from functools import reduce

n = 5
factorial = reduce(lambda x, y: x * y, range(1, n + 1))
print(factorial)

120

In [ ]:
11.	filter()

In [ ]:
#1.	Use filter to find even numbers from a list.

In [46]:
numbers = [10, 15, 22, 33, 40, 55]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[10, 22, 40]

In [ ]:
#2.	Use filter to find odd numbers from a list.

In [47]:
numbers = [10, 15, 22, 33, 40, 55]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[15, 33, 55]

In [ ]:
#3.	Use filter to find numbers greater than 50 from a list.

In [48]:
numbers = [20, 55, 60, 45, 80, 30]
greater_than_50 = list(filter(lambda x: x > 50, numbers))
print(greater_than_50)

[55, 60, 80]

In [ ]:
#4.	Use filter to extract vowels from a string.

In [49]:
text = "Hello World"
vowels = list(filter(lambda x: x.lower() in "aeiou", text))
print(vowels)

['e', 'o', 'o']

In [ ]:
#5.	Use filter to remove empty strings from a list.

In [50]:
words = ["apple", "", "banana", "", "cherry"]
non_empty = list(filter(lambda x: x != "", words))
print(non_empty)

['apple', 'banana', 'cherry']