In [ ]:
a=int(input("enter a number"))
if a %2==0 :
  print("number is even")
else:
  print("number is odd")

enter a number3
number is odd

In [ ]:
if 5<2:
  print("5 is greater than 2")
else:
  print("5 is not greater than 2")

5 is not greater than 2

In [ ]:
#WAP to check marks and display grades
0 to 39 - fail
40 to 50  pass
51 to 60 second class
61 to 65  first class
66 onwards till 100 dist

In [ ]:
a=int(input("enter marks"))
if a <= 39 :
  print("you are fail")
elif a >= 40 and a <= 50 :
  print("you are pass")
elif a >= 51 and a <= 60 :
   print("you are in a second class")
elif a >= 61 and a <= 65 :
  print("you are in a first class")
elif a >= 66 and a <= 100 :
  print("you are in a distinction")

enter marks97
you are in a distinction

In [ ]:
#for loop
for i in sequence:  #sequence can be range, set, tuple, dict, list or any datatype which generate sequence
  logic

In [ ]:
for i in range(10,99,5):
  print(i)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [ ]:
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [ ]:
for i in {1,2,3,4}:
  print(i)

1
2
3
4

In [ ]:
data={1:"one",2:"two",3:"three"}        #dictonary
for i in data.items():
  print(i)

(1, 'one')
(2, 'two')
(3, 'three')

In [ ]:
data={1:"one",2:"two",3:"three"}
for i in data.values():
  print(i)

one
two
three

In [ ]:
init
while condition:
  stmt
  increment/decrement(loop stopper)

In [29]:
i=0
while i<10:
  if i==5:
    break
  print(i)

  i=i+1  #i+=1

0
1
2
3
4

In [30]:
def demo():
  pass

In [36]:
#wap to which one is vovel
a = input("enter a letter").lower()
if a in ("a", "e", "i", "o", "u"):
  print("vowel")
else:
  print("consonant")

enter a lettera
vowel