In [1]:
#WAP to squre each element of list
a = [2,3,4,5,6]    #[4,9,14,25,36]
result = []
for i in a:
  result.append(i*i)
print(result)

[4, 9, 16, 25, 36]

In [2]:
result = [i*i for i in a]   #using list comprehension
print(result)

[4, 9, 16, 25, 36]

In [ ]:
#syntax
#new_list = [expression for member in iterable]

In [3]:
a = [i**2 for i in range(1,11)]    #range(1,11)---> to to 10 integers in list

In [4]:
a = [i for i in range(1,11) if i%2==0]
print(a)

[2, 4, 6, 8, 10]

In [5]:
#WAP to square odd numbers from given list
result=[]
a = [1,2,3,4,5,6,7,8]
for i in a:
  if i%2!=0:
    result.append(i*i)
print(result)

[1, 9, 25, 49]

In [6]:
res = [i*i for i in a if i%2!=0]
res

[1, 9, 25, 49]

In [7]:
s = "This is python programming training"
for i in s:
  if i in "aeiou":
    print(i)

i
i
o
o
a
i
a
i
i

In [8]:
v = [i for i in s if i in "aeiou"]
print(list(set(v)))

['o', 'i', 'a']