In [ ]:
#Type casting

1. changes one type to other type
2. We have different functions int(),float(),str(),complex(),bool(),set(),list(),dict(),tuple()

# **Implicit Type Casting (Automatic)**

In [3]:
a = 5        # int
b = 2.5      # float

c = a + b    # int + float = float
print(c)     # 7.5
print(type(c))  # float

7.5
<class 'float'>

In [5]:
a=2.3
int(a)

2

In [7]:
a=2+2i
int(a)

SyntaxError: invalid decimal literal (ipython-input-3929119102.py, line 1)

In [9]:
a = "amit"
int(a)

ValueError: invalid literal for int() with base 10: 'amit'

In [10]:
a = "123"
int(a)

123

In [11]:
a = 2
float(a)

2.0

In [12]:
a = 2+4j
float(a)

TypeError: float() argument must be a string or a real number, not 'complex'

In [13]:
float("10.4")

10.4

In [14]:
float("amit")

ValueError: could not convert string to float: 'amit'

In [15]:
bool("0")

True

In [16]:
bool(0)

False

In [17]:
bool(None)

False

In [18]:
complex(2.3)

(2.3+0j)

# Explicit Type Casting (Manual)

In [19]:
x = "100"                 #String → Integer
y = int(x)
print(y, type(y))

100 <class 'int'>

In [20]:
a = 5.89              #Float → Integer (decimal removed)
b = int(a)
print(b)   # 5

5

In [21]:
#Tuple → List
t = (1, 2, 3)
l = list(t)
print(l)

[1, 2, 3]

In [22]:
#List → Set
lst = [1, 2, 3, 3]
st = set(lst)
print(st)   # {1,2,3}

{1, 2, 3}

In [23]:
#Integer → String
num = 10
s = str(num)
print(s, type(s))

10 <class 'str'>